/* SF Pro Display — обычные веса */
@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Medium.otf') format('opentype');
  font-weight: 100;       
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('../fonts/SF-Pro-Rounded-Bold.otf') format('opentype');
  font-weight: 100;         
  font-style: normal;
}